@import 'kouto-swiss'
@import 'rupture'
@import './colors.styl'
@import './reset.styl'
@import './buttons.styl'
@import url('https://fonts.googleapis.com/css?family=Lato|Share+Tech+Mono');

h1
    margin: 0
    font-family: "Share Tech Mono", serif
  code
    color: #017ACC

body
  font-family: Lato, sans-serif

.container
  max-width: 1200px
  width: 100%
  padding: 0 30px
  +to-width(600px)
    padding: 0 15px

.jumbotrom
  text-align: center
  display: flex
  justify-content: center
  align-items: center
  +to-width(600px)
    min-height: ks-calc('100vh - 60px')
    flex-direction: column
  +above(600px)
    height: ks-calc('100vh - 60px')