@import url('https://fonts.googleapis.com/css?family=Lato|Share+Tech+Mono');
@import './colors.styl'

body
  font-family: Lato, sans-serif

.container
  max-width: 1200px
  width: 100%
  margin: 0 30px

.jumbotrom
  height: ks-calc('100vh - 60px')
  text-align: center
  display: flex
  justify-content: center
  align-items: center