@import '../shared/styles/default.styl'

.footer
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  height: 60px
  color: $white
  background: $black

.container
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between

.logo
  font-family: "Share Tech Mono", sans-serif
  color: $black
  background: $white
  padding: 3px 10px