@import '../shared/styles/default.styl' 

.header
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  height: 60px
  color: #fff
  background: #000

  .container
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between

.navigation
  text-align: right
  a
    text-decoration: none
    color: #fff
    margin: 0 15px

    &:first-child
      margin-left: 0
    &:last-child
      margin-right: 0