@import 'kouto-swiss'
@import '../shared/styles/default.styl'

.jumbotrom
  min-height: 100vh

.container
  flex-direction: column

.contactForm
  display: flex
  flex-direction: column
  width: 100%
  max-width: 600px
  justify-content: center
  align-items: center
  margin: 50px auto

  label
    width: 100%
    text-align: left

  .contactInput
    margin: 10px 0
    border: 1px solid $black
    padding: 10px
    width: 100%
    display: block
    box-sizing: border-box
    outline: $white
    resize: none

  .invalid
    border: 1px solid red !important
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5)

  .valid
    border: 1px solid green !important
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5)

  span.invalid
    border: none !important
    box-shadow: none
    color: red
    margin-bottom: 10px
    display: block
